.cabecalho {
	align-items: center;
	background: #f9f9f9;
	display: flex;
	justify-content: space-between;
	padding-left: 2rem;
	padding-right: 2rem;
}

.fixed-top {
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:1030
}

@media screen and (max-width: 970px){
	.cabecalho{
		justify-content: center;
		padding: 0 1rem;
	}
}

@media screen and (min-width: 970px){
	.cabecalho {
		padding: 0 5rem;
		justify-content: space-between;
	}
}