.onde-estamos{
	text-align: center;
	padding: 5rem;
}

.onde {
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-left: 2rem;
	padding-right: 2rem;
}

.onde-estamos-titulo{
	color: #8d0606;
	font-size: 3.1875rem;
	font-family: cursive;
	text-align: center;
	margin-bottom: 2rem;
}

.atuacao-imagem{
	width: 300px;
	padding: 2rem;
}

.onde-estamos-descricao{
	font-weight: 100;
	font-size: 1.75rem;
	color: #595959;
}

@media screen and (max-width: 970px){
	.onde-estamos-titulo{
		font-size: 2rem;
	}
	.onde-estamos-descricao {
		font-size: 1rem;
	}
	.onde {
		padding: 2.5rem 1rem;
		flex-direction: column;
	}
}

@media screen and (min-width: 970px){
	.onde-estamos-titulo{
		font-size: 3.1875rem;
	}
	.onde-estamos-descricao{
		font-size: 1.75rem;
	}
	.onde{
	padding: 2.5rem;
	}
}

