.produtos {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: 768px){
	.principais-produtos-titulo{
		font-size: 2rem;
	}
	.produtos {
		padding: 5rem 0 0 1rem;
	}

}

@media screen and (min-width: 768px){
	.produtos {
		padding: 5rem 0 0 2.5rem;
	}
}