.servicos {
	display: flex;
	justify-content: space-around;
	padding-top: 3rem;
}

.servico{
	display: flex;
	flex-direction: column;
}

.servico-imagem {
	background-size: cover;
	background-position: center;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	background-repeat: no-repeat;
}

.servico-imagem--pizza {
	background-image: url('../img/servicos/pizza.png');
}

.servico-imagem--bag{
	background-image: url('../img/servicos/bag.png');
}

.servico-imagem--outros{
	background-image: url('../img/servicos/outros.png');
}

.servico-descricao {
	padding: 1em;
	color: #595959;
	font-size: 1.25rem; 
}

@media screen and (max-width: 970px){
	.servico-titulo{
		font-size: 2rem;
	}
	.servico-descricao {
		font-size: 1rem;
	}
	.servico {	
		padding: 2.5rem 1rem;
	}
	.servicos{
		flex-direction: column;
	}
}

@media screen and (min-width: 970px){
	.servico-titulo{
		font-size: 3.1875rem;
	}
	.servico-descricao{
		font-size: 1.75rem;
	}
	.servico{
	padding: 2.5rem;
	}
}